<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Paul Kim - Archery</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'home/css/archery.css' %}" rel="stylesheet">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll top-hidden" href="{% url 'index' %}" style="color:#ffffff">Paul Hyungmin Kim</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
		</ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="heading">
    <div class="title">
	<a href="{% url 'index' %}#interests"><img src = {% static 'home/img/archery.png' %} style="width: 250px; height: 250px; background-size: 100%;"/></a>
        <h1> Archery </h1>
    </div>
    </section>


    <br><br><br>
    <section class="mainCategory">
	<h2> Positions and Certifications </h2>
    </section>
    <section class="allCategories" id="positions">
	<ul>
		<li> Level 1 Archery Instructor | USA Archery </li>
		<li> Equipment Manager | UCLA Archery </li>
		<li> Safety Officer | UCLA Archery </li>
		<li> Heartsaver First Aid | American Heart Association </li>
		<li> Heartsaver CPR AED | American Heart Association </li>
	</ul>
    </section>

    <section class="mainCategory">
    	<h2> Awards and Medals </h2>
    </section>
    <section class="allCategories" id="S2015">
	<h3 class="subCategory"> Season: 2015-2016 </h3>
	<h5 class="division"> Division: Compound </h5>
	<ul>
		<li> <b>USAA National Outdoor Collegiate Championships 2016</b>
			<ul>
				<li>4th Place Men's Compound Team</li>
				<li>4th Place Mixed Compound Team</li>
			</ul>
		 </li>
		<li> <b>USAA West Regionals Intercollegiate Archery Championships 2015</b>
			<ul>
				<li>All West Honors (Top 5)</li>
				<li>2nd Place Men's Compound Individual</li>
			</ul>
		 </li>
		<li> <b>SAC California State Indoor 2015</b>
			<ul>
				<li>3rd Place Collegiate Men's Compound</li>
			</ul>
		 </li>
	</ul>
    </section>
    <section class="allCategories" id="S2014">
	<h3 class="subCategory"> Season: 2014-2015 </h3>
	<h5 class="division"> Division: Compound </h5>
	<ul>
		<li> <b>USAA National Outdoor Collegiate Championships 2015</b>
			<ul>
				<li>4th Place Men's Compound Team</li>
			</ul>
		 </li>
		<li> <b>USAA West Regionals Intercollegiate Archery Championships 2015</b>
			<ul>
				<li>All West Honors (Top 5)</li>
				<li>1st Place Men’s Compound Individual</li>
				<li>1st Place Men's Compound Team</li>
				<li>1st Place Mixed Compound Team</li>	
			</ul>
		 </li>
	</ul>
    </section>
    <section class="allCategories" id="S2013">
	<h3 class="subCategory"> Season: 2013-2014 </h3>
	<h5 class="division"> Division: Bow Hunter </h5>
	<ul>
		<li> <b>USCA US Intercollegiate Archery Championships 2014</b>
			<ul>
				<li>2nd Place Men's Bowhunter Team</li>
			</ul>
		 </li>
		<li> <b>USCA West Regionals Intercollegiate Archery Championships 2014</b>
			<ul>
				<li>34th (last) Place Men's Bowhunter Individual</li>
			</ul>
		 </li>
	</ul>
    </section>

    <section class="mainCategory">
    	<h2> Personal Records </h2>
    </section>

    <section class="allCategories" id="personalRecords">
	<h3 class="subCategory"> Compound </h3>
	<ul>
		<li> <b>Indoor 18m (Inner 10): </b> 290 </li>
		<li> <b>Indoor 18m (Outer 10): </b> 299 </li>
		<li> <b>Outdoor 50m: </b> 340</li>
		<li> <b>Outdoor Match: </b> 140</li>
	</ul>
	<h3 class="subCategory"> Bow Hunter </h3>
	<ul>
		<li> <b>Indoor 18m (Outer 10): </b> 290 </li>
		<li> <b>Outdoor 50m: </b> 327</li>
		<li> <b>Outdoor Match: </b> 129</li>
	</ul>
	<h3 class="subCategory"> Recurve </h3>
	<ul>
		<li> <b>Indoor 18m (Outer 10): </b> 254 </li>
	</ul>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                    <span class="copyright" style="position: center">Copyright &copy; 2017 Paul Kim</span>
                         <ul class="list-inline social-buttons" style="position: center">
                             <li><a href="mailto:paulmkim@ucla.edu" target="_blank"><i class="fa fa-envelope"></i></a>
                             </li>
                             <li><a href="https://github.com/paulmkim"><i class="fa fa-github"></i></a>
                             </li>
                             <li><a href="https://www.linkedin.com/in/paul-hyungmin-kim"><i class="fa fa-linkedin"></i></a>
                             </li>
                             <li><a href="https://www.facebook.com/paul.kim.505" target="_blank"><i class="fa fa-facebook"></i></a>
                             </li>
                         </ul>
            </div>
        </div>
    </footer>


</body>

</html>
