<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Paul Kim - Cooking</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'home/css/cooking.css' %}" rel="stylesheet">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll top-hidden" href="{% url 'index' %}" style="color:#ffffff">Paul Hyungmin Kim</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
		</ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="heading">
    <div class="title">
	<a href="{% url 'index' %}#interests"><img src = {% static 'home/img/cooking.png' %} style="width: 250px; height: 250px; background-size: 100%;"/></a>
        <h1> Cooking </h1>
    </div>
    </section>


    <section class="allCategories">
	<div class="container">
		<p align="center">
                        <a class="foodCategoryButton" href="{% url 'highlights' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/comingSoon.jpg' %}"/>
                                <span class="foodCategoryText">Highlights</span>
                        </a>

			<br><br>

                        <a class="foodCategoryButton" href="{% url 'breakfast' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/comingSoon.jpg' %}"/>
                                <span class="foodCategoryText">Breakfast</span>
                        </a>
                        <a class="foodCategoryButton" href="{% url 'stock' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/food/stock/Tomato-Soup-And-Grilled-Cheese_Jan-3-2016.jpg' %}"/>
                                <span class="foodCategoryText">Stock
				<span class="foodCategorySubtext">(Soups, Stews)</span></span>
                        </a>
                        <a class="foodCategoryButton" href="{% url 'fastCooking' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/food/fastCooking/Sweet-and-Spicy-Mustard-Chicken_Jan-3-2016.jpg' %}"/>
                                <span class="foodCategoryText">Fast Cooking
				<span class="foodCategorySubtext">(Steaks, Chops, Chicken, Fish)</span></span>
                        </a>

			<br><br>

                        <a class="foodCategoryButton" href="{% url 'salads' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/comingSoon.jpg' %}"/>
                                <span class="foodCategoryText">Salads</span>
                        </a>
                        <a class="foodCategoryButton" href="{% url 'groundMeat' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/comingSoon.jpg' %}"/>
                                <span class="foodCategoryText">Ground Meat
				<span class="foodCategorySubtext">(Balls, Loaves, Links, Burgers)</span></span>
                        </a>
                        <a class="foodCategoryButton" href="{% url 'roasts' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/comingSoon.jpg' %}"/>
                                <span class="foodCategoryText">Roasts
				<span class="foodCategorySubtext">(Checken, Turkey, Prime Rib)</span></span>
                        </a>

			<br><br>

                        <a class="foodCategoryButton" href="{% url 'pasta' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/comingSoon.jpg' %}"/>
                                <span class="foodCategoryText">Pasta</span>
                        </a>
                        <a class="foodCategoryButton" href="{% url 'fried' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/comingSoon.jpg' %}"/>
                                <span class="foodCategoryText">Fried</span>
                        </a>
                        <a class="foodCategoryButton" href="{% url 'desserts' %}">
                                <img class="foodCategoryImage" src="{% static 'home/img/comingSoon.jpg' %}"/>
                                <span class="foodCategoryText">Desserts</span>
                        </a>
                </p>
        </div>
   </section>

    </section>

    <footer>
        <div class="container">
            <div class="row">
                    <span class="copyright" style="position: center">Copyright &copy; 2016 Paul Kim</span>
                         <ul class="list-inline social-buttons" style="position: center">
                             <li><a href="mailto:paulmkim@ucla.edu" target="_blank"><i class="fa fa-envelope"></i></a>
                             </li>
                             <li><a href="https://github.com/paulmkim"><i class="fa fa-github"></i></a>
                             </li>
                             <li><a href="https://www.linkedin.com/in/paul-hyungmin-kim"><i class="fa fa-linkedin"></i></a>
                             </li>
                             <li><a href="https://www.facebook.com/paul.kim.505" target="_blank"><i class="fa fa-facebook"></i></a>
                             </li>
                         </ul>
            </div>
        </div>
    </footer>


</body>

</html>
