<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Paul Kim</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'home/css/agency.css' %}" rel="stylesheet">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll top-hidden" href="#page-top" style="color:#ffffff;">Paul Hyungmin Kim</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#aboutMe">About Me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#interests">Interests</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experiences">Experiences</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact Me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
		<img src="{% static 'home/img/ucla_logo.png' %}" height="250px" width="250px" style="margin: 0 10px"> 
		<img src="{% static 'home/img/SecurityPlusLogo.png' %}" height="250px" width="250px" style="margin: 0 10px">
                <div class="intro-heading">Paul Hyungmin Kim</div>
                <div class="intro-lead-in">Student at UCLA College of Engineering and Applied Sciences</div>
		<br><br>
		<p class="resume-CV"> 
			<a class="resume" href="{% static 'home/PDF/Resume-Paul_Hyungmin_Kim.pdf' %}" target="_blank">résumé</a> 
			<a class="CV" href="{% static 'home/PDF/CV-Paul_Hyungmin_Kim.pdf' %}" target="_blank">CV</a></p>
            </div>
        </div>
    </header>

    <!-- Searching Section -->
    <section id="aboutMe">
      <div class="container">
	<div id="portrait">
	<br>
	<img src="{% static 'home/img/self.jpg' %}">
	</div>
	<div id="bio">
        <h1>About Me</h1>
        <br>
	<!-- TODO: write more, pick font -->
	<p> My name is Paul Hyungmin Kim. I am a senior at UCLA, graduating with a Bachelor in Computer Science at the end of March. I am interested in joining the computer security industry, but as a new member of the computer science work force, I am open to learn and explore different topics. Outside of academia, I enjoy competitive archery, cooking, and poker.</p>
	</div>
	<br>
    </div>
    </section>

    <section id="interests" class="bg-light-gray">
	<div class="container">
       		<center><h1>Interests</h1></center>
		<p align="center">
			<a class="interestButton" href="{% url 'archery' %}">
				<img class="interestImage" id="interest1" src="{% static 'home/img/archery.png' %}"/>
				<span class="interestText">Archery</span>
			</a>
			<a class="interestButton" href="{% url 'cooking' %}">
				<img class="interestImage" id="interest2" src="{% static 'home/img/cooking.png' %}"/>
				<span class="interestText">Cooking</span>
			</a>
			<a class="interestButton" href="{% url 'poker' %}">
				<img class="interestImage" id="interest3" src="{% static 'home/img/poker.png' %}"/>
				<span class="interestText">Poker</span>
			</a>
		</p>
	</div>
   </section>


    <!-- Projects Section -->
    <section id="projects">
        <div class="container">
       		<center><h1>Projects</h1></center>
		<p align="center">
			<!-- TODO: make buttons transparent -->
			<a class="projectButton" href="{% url 'projects' %}">
				<img class="projectImage" id="project1" src="{% static 'home/img/deterlab.jpg' %}"/>
				<span class="projectText">Deterlab Security Suite</span>
			</a>
			<a class="projectButton" href="{% url 'projects' %}">
				<img class="projectImage" id="project2" src="{% static 'home/img/miniJavaCompiler.png' %}"/>
				<span class="projectText">Mini Java Compiler</span>
			</a>
			<a class="projectButton" href="{% url 'projects' %}">
				<img class="projectImage" id="project3" src="{% static 'home/img/prereq.png' %}"/>
				<span class="projectText">Prereq<br>(Web App)</span>
			</a>
		</p>
		<br><br>
		<p class="allProjects"> 
			<a class="allProjectsLink" href="{% url 'projects' %}"><u>See All Projects</u></a> 
            </div>
        </div>
    </section>


    <!-- Experiences Section -->
    <section id="experiences" class="bg-light-gray">
        <div class="container">
       		<center><h1>Exeriences</h1></center>
		<p align="center">
			<!-- TODO: make buttons transparent -->
			<a class="experienceButton" href="https://lasr.cs.ucla.edu/" target="_blank">
				<img class="experienceImage" id="experience1" src="{% static 'home/img/lasr.png' %}"/>
				<span class="experienceText">UCLA Security Lab (LASR)</span>
			</a>
			<a class="experienceButton" href="http://www.teamusa.org/USA-Archery" target="_blank">
				<img class="experienceImage" id="experience2" src="{% static 'home/img/USA_Archery.jpg' %}"/>
				<span class="experienceText">USA Archery<br>Scoring Team</span>
			</a>
			<a class="experienceButton" href="http://uclaclubsports.com/index.aspx?path=archery" target="_blank">
				<img class="experienceImage" id="experience3" src="{% static 'home/img/UCLA_Archery.jpg' %}"/>
				<span class="experienceText">UCLA Archery Officer</span>
			</a>
		</p>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
                <div class="col-lg-12 text-center">
                    <h1>Contact Me</h1>
                    <h3 class="section-subheading text-muted">Best chance for a prompt response is through my email</h3>
                     <div style="position: center">
                         <ul class="list-inline social-buttons" style="position: center">
                             <li><a href="mailto:paulmkim@ucla.edu" target="_blank"><i class="fa fa-envelope"></i></a>
                             </li>
                             <li><a href="https://github.com/paulmkim"><i class="fa fa-github"></i></a>
                             </li>
                             <li><a href="https://www.linkedin.com/in/paul-hyungmin-kim"><i class="fa fa-linkedin"></i></a>
                             </li>
                             <li><a href="https://www.facebook.com/paul.kim.505" target="_blank"><i class="fa fa-facebook"></i></a>
                             </li>
                         </ul>
                     </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="row">
                    <span class="copyright" style="position: center">Copyright &copy; 2017 Paul Kim</span>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'home/js/agency.js' %}"></script>

</body>

</html>
