<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Paul Kim - Project Highlights</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'home/css/projectHighlights.css' %}" rel="stylesheet">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll top-hidden" href="{% url 'index' %}" style="color:#ffffff; opacity:1">Paul Hyungmin Kim</a> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#DeterlabSecuritySuite">Deterlab Security Suite</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#MiniJavaCompiler">Mini Java Compiler</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Prereq">Prereq</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#NOMS">NOMS</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#LoLCounter">LoLCounter</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ObjectRect">ObjectRect</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#TCPIP">TCP/IP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
		<!--<img src="{% static 'home/img/ucla_logo.png' %}" height="250px" width="250px" style="margin: 0 10px"> 
		<img src="{% static 'home/img/SecurityPlusLogo.png' %}" height="250px" width="250px" style="margin: 0 10px">-->
                <div class="intro-heading">Projects - Highlights</div>
		<br><br>
		<p class="resume-CV"> 
			<a href="{% url 'projects' %}">All Projects</a></p>
            </div>
        </div>
    </header>

    <!-- Searching Section -->
    <section id="DeterlabSecuritySuite" class="split">
      <div class="container">
	<div id="portrait">
	<br>
	<img class="highlightImg" src="{% static 'home/img/projectHighlights/deterlab.jpg' %}">
	</div>
	<div id="bio">
        <h1>Deterlab Security Suite</h1>
        <br>
	<!-- TODO: write more, pick font -->
	<p> The Deterlab Security Suite consists of multiple different security-focused simulations. It covers many real-life scenarios and challenges the user to use real tools to solve issues.</p>
	<ul>
		<li>POSIX Permissions and Stateful Firewalls</li>
			<ul>
				<li>POSIX server hardening using permissions</li>
				<li>Modifying a stateful firewall for network hardening</li>
			</ul>
		<li>Exploits</li>
			<ul>
				<li>Attacked a web server using buffer overflow, pathname traversal, and SQL injection </li>
				<li>Created patches for found vulnerabilities</li>
			</ul>
		<li>Computer Forensics</li>
			<ul>
				<li>Discovering the mode of attack on a server through evidences such as logs, recovered memory, and images</li>
				<li>Repairing damages and preventing future attacks</li>
				<li>Counterattack using recovered information about attacker</li>
			</ul>
		<li>Network Attacks</li>
			<ul>
				<li>Analyzing a network using a protocol analyzer (Wireshark)</li>
				<li>Attacking through ARP Spoofing, replay, insertion, and encryption attacks</li>
				<li>Repairing network protocol to prevent future attacks</li>
			</ul>
		<li>Botnets and Network Analysis</li>
			<ul>
				<li>Network analysis for unusual behaviors</li>
				<li>Detection and prevention of botnet attacks</li>
			</ul>
	</ul>
	</div>
	<br>
    </div>
    </section>

    <section id="MiniJavaCompiler" class="bg-light-gray splitTwo">
      <div class="container">
	<div id="portrait">
	<br>
	<img class="highlightImg" src="{% static 'home/img/projectHighlights/miniJavaCompiler.png' %}">
	</div>
	<div id="bio">
        <h1>Mini Java Compiler</h1>
        <br>
	<!-- TODO: write more, pick font -->
	<p> Mini Java is a subset of java. It contains all functions of java except overloading. Using a visitor design pattern, the Mini Java Compiler was capable of verifying that a program was valid Mini Java, and compile the code down to assembly language (MIPS).</p>
	</div>
	<br>
    </div>
    </section>
    
    <section id="Prereq" class="split">
      <div class="container">
	<div id="portrait">
	<br>
	<img class="highlightImg" src="{% static 'home/img/projectHighlights/prereq.png' %}">
	</div>
	<div id="bio">
        <h1>Prereq</h1>
        <br>
	<!-- TODO: write more, pick font -->
	<p> Prereq is a web application built on Django, with a MySQL database and hosted on AWS. It allows users to learn any desired topic though a dynamic knowledge tree with subnodes consisting of topics that are required before you can master the desired topic. For example, if I wished to learn Algebra, I would be presented with subnodes with resources to learn arithmetics, multiplication/division, and fractions.</p>
	</div>
	<br>
    </div>
    </section>

    <section id="NOMS" class="bg-light-gray splitTwo">
      <div class="container">
	<div id="portrait">
	<br>
	<img class="highlightImg" src="{% static 'home/img/projectHighlights/NOMS.png' %}">
	</div>
	<div id="bio">
        <h1>NOMS</h1>
        <br>
	<!-- TODO: write more, pick font -->
	<p> NOMS is a mobile application built for the Android, with a MySQL database and hosted on Aws. It allows users to plan short term events with ease. Those who are invited can quickly assess the event and respond, while the host can have a simple overview of the current status of the event. It differs from most event planning appliction because it focuses on events with short notice, such as dinner, which allows the interface to remove many complexities.</p>
	</div>
	<br>
    </div>
    </section>
    
    <section id="LoLCounter" class="split">
      <div class="container">
	<div id="portrait">
	<br>
	<img class="highlightImg" src="{% static 'home/img/projectHighlights/LoLCounter.jpg' %}">
	</div>
	<div id="bio">
        <h1>LoLCounter</h1>
        <br>
	<!-- TODO: write more, pick font -->
	<p> LoLCounter is a web application built on Ruby on Rails, with a MySQL database and hosted on AWS. It creates a place for League of Legends players to see champion statistics based on millions of real games. This project focused on maintaining functionality and availability against high traffic and large databases (Although we were limited to using MySQL).</p>
	</div>
	<br>
    </div>
    </section>

    <section id="ObjectRect" class="bg-light-gray splitTwo">
      <div class="container">
	<div id="portrait">
	<br>
	<img class="highlightImg" src="{% static 'home/img/projectHighlights/objectRekt.png' %}">
	</div>
	<div id="bio">
        <h1>Object Rect</h1>
        <br>
	<!-- TODO: write more, pick font -->
	<p> ObjectRect is a fully automated camera man. It uses FLIR thermal imaging camera, which is connected to a Raspberry Pi. The Raspberry Pi used the input from the termal camera to locate a preventors location, and communicated with multiple servos attached to the camera to follow the presentors.</p>
	</div>
	<br>
    </div>
    </section>

    <section id="TCPIP" class="split">
      <div class="container">
	<div id="portrait">
	<br>
	<img class="highlightImg" src="{% static 'home/img/projectHighlights/tcpip.png' %}">
	</div>
	<div id="bio">
        <h1>Exploring the Development of TCP/IP</h1>
        <br>
	<!-- TODO: write more, pick font -->
	<p> This paper explored the history and development of the layered network system. It looks into the original intent and current status of the layered design. In addition, it specifically looks into why TCP/IP was eventually split into two layers and conclude on the benefits of this split. The research was conducted through reports of multiple first-hand developers.</p>
	</div>
	<br>
    </div>
    </section>

       <footer>
        <div class="container">
            <div class="row">
                    <span class="copyright" style="position: center">Copyright &copy; 2017 Paul Kim</span>
                         <ul class="list-inline social-buttons" style="position: center">
                             <li><a href="mailto:paulmkim@ucla.edu" target="_blank"><i class="fa fa-envelope"></i></a>
                             </li>
                             <li><a href="https://github.com/paulmkim"><i class="fa fa-github"></i></a>
                             </li>
                             <li><a href="https://www.linkedin.com/in/paul-hyungmin-kim"><i class="fa fa-linkedin"></i></a>
                             </li>
                             <li><a href="https://www.facebook.com/paul.kim.505" target="_blank"><i class="fa fa-facebook"></i></a>
                             </li>
                         </ul>
            </div>
        </div>
    </footer>

 
    <!-- jQuery -->
    <script src="{% static 'home/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'home/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'home/js/agency.js' %}"></script>

</body>

</html>
