<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Paul Kim - Projects</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'home/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="{% static 'home/css/projects.css' %}" rel="stylesheet">
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll top-hidden" href="{% url 'index' %}" style="color:#ffffff">Paul Hyungmin Kim</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
		</ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section id="heading">
    <div class="title">
        <h1> Projects </h1>
    </div>
    </section>

    <section class="allCategories" id="Highlights">
	<a href="{% url 'projectHighlights'%}"><h3 class="subCategory"> Highlights </h3></a>
	<ul>
		<li> <b>Mini Java Compiler:</b> Fully functional mini-java compiler, a subset of java, to asembly language MIPS</li>
		<li> <b>NOMS:</b> Social event planning application built for Android, and hosted by AWS</li>
		<li> <b>Prereq:</b> Web application designed to help users learn by guiding them through a set of sub-topics</li>
		<li> <b>LoLCounter:</b> Web application built for League of Legends assistance. Challenged industry-level scaling problems due to high traffic (Tsung test) and large database</li>
		<li> <b>ObjectRekt:</b> Automated termal cameraman that observers the presentors and follows any movements</li>
		<li> <b>Deter Security Suite:</b> Simulated security scenarios and tasks covering attack methods, firewalls, forensics, network analysis, and anomaly detection</li> 
	</ul>
    </section>
    <section class="allCategories" id="Personal">
	<h3 class="subCategory"> Personal </h3>
	<ul>
		<li> <b>NOMS:</b> Android application designed for quick event planning. </li>
		<li> <b>Playlist2000:</b> Voice controlled music jukebox. </li>
		<li> <b>ObjectRekt:</b> Automated termal cameraman. </li>
		<li> <b>Portfolio:</b> Online portfolio summarizing my interests and projects </li>
		<li> <b>POKER AI:</b> Basic Texas Holdem decision aid. </li>
	</ul>
    </section>
    <section class="allCategories" id="lab">
	<h3 class="subCategory"> Publications </h3>
	<ul>
		<li> <b> INTERLOC:</b> Interference-aware RSSI-Based Localization and Sybil Attack Detection Mechanism for Vehicular Ad Hoc Networks. </li>
		<li> <b> GHOST:</b> Vehicular Ad Hoc Network secret communication channel through 802.11p protocol. </li>
	</ul>
    </section>
    <section class="allCategories" id="Academic">
	<h3 class="subCategory"> Academic </h3>
	<ul>
		<li><b>CS 188: Scalable Internet Services</b><ul>
			<li> LoLCounter: Web application built on Ruby on Rails focusing on large-scale traffic handling</li>
		</ul></li>
		<br>
		<li><b>CS 161: Fundamentals of Artificial Intelligence</b><ul>
			<li> River crossing problem solver</li>
			<li> N-Queens solver</li>
		</ul></li>
		<br>
		<li><b>CS 152A: Introductory Digital Design Laboratory</b><ul>
			<li> FPGA controlled "Simon Says", monitor-based video game </li>
			<li> Stopwatch implementation using FPGA board</li>
			<li> Two's complement linear encoding to floating point converter using circuit design, prototyping, implementation, and simulation</li>
			<li>Use of Xilinx ISE, ISim, and iMPACT interface to midify and test Verilog code operating through a Nexys3 FPGA board </li>
		</ul></li>
		<br>
		<li><b>CS 136: Introduction to Computer Security</b><ul>
			<li> Deterlab Security Suite</li>
		</ul></li>
		<br>
		<li><b>CS 132: Compiler Construction</b><ul>
			<li> MiniJava compiler</li>
		</ul></li>
		<br>
		<li><b>CS 131: Programming Languages</b><ul>
			<li> Python: Asynchronous server herd manager using Google Places API and Twisted (event-driven network engine)</li>
			<li> Scheme: DNA pattern matcher</li>
			<li> Prolog: KenKen solver </li>
			<li> Java: Forming and benchmark testing different parallelization models</li>
			<li> OCaml: Manipulating context-free grammars and forming a parser</li>
		</ul></li>
		<br>
		<li><b>CS 130: Software Engineering</b><ul>
			<li> Prereq: Web application built on Django, focusing on industry standard development cycle</li>
		</ul></li>
		<br>
		<li><b>CS 118: Computer Network Fundamentals</b><ul>
			<li> HTTP Client and Server </li>
			<li> TCP-like Transport Protocol over UDP</li>
		</ul></li>
		<br>
		<li><b>CS 111: Operating Systems Principles</b><ul>
			<li> P2P client-side and server-side attack and defense </li>
			<li> Linux file system driver</li>
			<li> Ramdisk Linux kernel module </li>
			<li> Parallelized shell prototype </li>
		</ul></li>
		<br>
		<li><b>CS 35L: Software Construction laboratory</b><ul>
			<li> Dynamic linking </li>
			<li> Multithreaded performance </li>
			<li> System call programming and debugging </li>
			<li> Asymetric key cryptography </li>
			<li> C program debugging </li>
			<li> Change management </li>
			<li> Shell scripting </li>
		</ul></li>
		<br>
		<li><b>CS 33: Introduction to Computer Organization</b><ul>
			<li> Multi-layered memory system </li>
			<li> Simulated big/little endian storage system </li>
		</ul></li>
		<br>
		<li><b>CS 32: Introduction to Computer Science II</b><ul>
			<li> Graphical and interactive implementation of "Zombie Survival" game </li>
		</ul></li>
		<br>
		<li><b>CS 31: Introduction to Computer Science I</b><ul>
			<li> Simple ASCII "Zombie Survival" game </li>
			<li> Basic encryption detection and decryption program </li>
		</ul></li>
	</ul>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                    <span class="copyright" style="position: center">Copyright &copy; 2017 Paul Kim</span>
                         <ul class="list-inline social-buttons" style="position: center">
                             <li><a href="mailto:paulmkim@ucla.edu" target="_blank"><i class="fa fa-envelope"></i></a>
                             </li>
                             <li><a href="https://github.com/paulmkim"><i class="fa fa-github"></i></a>
                             </li>
                             <li><a href="https://www.linkedin.com/in/paul-hyungmin-kim"><i class="fa fa-linkedin"></i></a>
                             </li>
                             <li><a href="https://www.facebook.com/paul.kim.505" target="_blank"><i class="fa fa-facebook"></i></a>
                             </li>
                         </ul>
            </div>
        </div>
    </footer>


</body>

</html>
