:root {
	--main-color: #ff8800;
	--active-color: #ff8800;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
p {
  font-size: 18px;
  line-height: 1.75;
}
a {
  color: var(--main-color);
}
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  color: var(--active-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

span {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}

li {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
}
a:hover {
  color: #222222;
}
/* alternating background color */
.bg-light-gray {
  background-color: #eeeeee;
}

/* 	NAVIGATION BAR 	*/
.navbar-custom {
  background-image: url('../img/home_background.jpg');
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: var(--main-color);
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

/* 	hover color	*/
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: var(--active-color);
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: var(--main-color);
  border-color: var(--main-color);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: var(--main-color);
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: var(--main-color);
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: var(--main-color);
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: var(--active-color);
}

/* for larger screens */
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix-top a.navbar-brand.page-scroll.top-hidden{
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

section#heading {
  padding: 50px 0 0 0;
}

@media (min-width: 768px) {
  section#heading {
	padding: 100px 0 0 0;
  }
}

section#heading .title {
  text-align: center;
}

section.allCategories {
}

section.allCategories .foodCategoryButton {
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
  padding: 0 16px;
}

section.allCategories .foodCategoryButton .foodCategoryImage{
  width: 250px;
  height: 250px;
  border: 0;
  background-size: 100%;
  margin: 25px 25px 0px 25px;
  background-repeat: no-repeat;
}

section.allCategories .foodCategoryButton .foodCategoryText{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
}

section.allCategories .foodCategoryButton .foodCategorySubtext{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
    font-size: 18px;
}

footer {
  background-color: #222222;
  padding: 25px 0;
  text-align: center;

}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  font-size: 20px;
  color: #eeeeee;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: var(--main-color);
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
body {
  background-color: #eeeeee;
  webkit-tap-highlight-color: var(--main-color);
}
/*
img#stock_img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

img#fastCooking_img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
*/
img#dessert_img {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
