:root {
        --main-color: #ff8800;
	--active-color: #ff8800;
}
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
p {
  font-size: 18px;
  line-height: 1.75;
}
a {
  color: var(--main-color);
}
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  color: var(--active-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

span {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
a:hover {
  color: #222222;
}
/* alternating background color */
.bg-light-gray {
  background-color: #eeeeee;
}

/* 	NAVIGATION BAR 	*/
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: var(--main-color);
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

/* 	hover color	*/
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: var(--active-color);
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: var(--main-color);
  border-color: var(--main-color);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: var(--main-color);
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: var(--main-color);
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: var(--main-color);
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: var(--active-color);
}

/* for larger screens */
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix-top a.navbar-brand.page-scroll.top-hidden{
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

header {
  background-image: url('../img/home_background.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
header .resume-CV {
	font-size: 30px;
	text-align: center;
}
header .resume {
	padding: 0px 20px;
}
header .CV {
	padding: 0px 20px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

section {
  padding: 100px 0;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
  section.split #portrait{
    width: 40%;
    float: left;
  }

  section.split #bio{
    width: 60%;
    float: right;
    padding: 0 20px;
  }

  section.splitTwo #portrait{
    width: 40%;
    float: right;
  }
  section.splitTwo #bio{
    width: 60%;
    float: left;
    padding: 0 20px;
  }
}

section#interests .interestButton{
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
}

section#interests .interestButton .interestImage{
  width: 250px;
  height: 250px;
  border: 0;
  background-size: 100%;
  margin: 25px 25px 0px 25px;
  background-repeat: no-repeat;
}

section#interests .interestButton .interestText{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
}

section#projects .projectButton{
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
}

section#projects .projectButton .projectImage{
  width: 250px;
  height: 250px;
  border: 0;
  background-size: 100%;
  margin: 25px 25px 0px 25px;
  background-repeat: no-repeat;
}

section#projects .projectButton .projectText{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
}
p.allProjects {
	font-size: 30px;
	text-align: center;
}
a.allProjectsLink {
	padding: 0px 20px;
}

section#experiences .experienceButton{
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
}

section#experiences .experienceButton .experienceImage{
  width: 250px;
  height: 250px;
  border: 0;
  background-size: 100%;
  margin: 25px 25px 0px 25px;
  background-repeat: no-repeat;
}

section#experiences .experienceButton .experienceText{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50%;
    width: 100%;
}

@media (min-width: 768px) {
  section#contact {
    padding: 250px 0;
  }
}

section#contact {
}

section#contact .section-subheading {
	font-size: 20px;
}

.highlightImg {
  width: 250px;
  height: 250px;
  border: 0;
  background-size: 100%;
  margin: 25px 25px 0px 25px;
  background-repeat: no-repeat;
}


footer {
  background-color: #222222;
  padding: 25px 0;
  text-align: center;
  
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  font-size: 20px;
  color: #eeeeee;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: var(--main-color);
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
body {
  webkit-tap-highlight-color: var(--main-color);
}
